<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.yellowsoft.LetUKnow" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="JW_LICENSE_KEY"
            android:value="DbyO0XXDgYkeuYL9A6ezYolhoCYkHFhheH8SsA==" />
        <activity
            android:screenOrientation="portrait"
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidVideoPlayerActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity
            android:name=".LanguageActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false"

            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >

        </activity>
        <activity
            android:name=".ImageZoomActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".JWPlayerActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".SlidingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".YoutubePlayer"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true"
            >
        </activity>
        <activity
            android:name=".WebviewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <service android:name=".MyFirebaseMessagingService">
            - <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
        </service>
        - <!--  [END firebase_service]
  -->
        - <!--  [START firebase_iid_service]
  -->
        - <service android:name=".MyFirebaseInstanceIDService">
        - <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
    </intent-filter>
    </service>


    </application>

</manifest>
